@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

/**** Font Families ****/
$header-font: 'Fraunces';
$description-font: 'Barlow';

/**** Colors ****/

//Primary
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$desaturated-cyan: hsl(167, 40%, 24%);
$blue: hsl(198, 62%, 26%);
$cyan: hsl(168, 34%, 41%);

//Neutral
$darkblue: hsl(212, 27%, 19%);
$grayblue: hsl(213, 9%, 39%);
$grayblue2: hsl(232, 10%, 55%);
$grayblue3: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);




body {
    margin: 0;
}
.App {
text-align: center;
    h2 {
        font-family: $header-font;
    }
    p {
        font-family: $description-font;
    }
    img {
        max-width: 100vw;
        
    }
    .Brand {
        height: 100vh;

    }

    .Audience {
        height: 100vh;
    }
    .Graphic-Design {
        height: 80vh;
    }
    .Photography {
        height: 80vh;
    }
}

.App-header {
width: 100%;
font-family: $header-font;
letter-spacing: 5px;
background-image: url('../images/mobile/image-header.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
// justify-content: center;
font-size: calc(10px + 2vmin);
color: white;

    .title {
        margin-top: 30%;
    }
}

.nav-bar{
width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  
  
  
  .header-logo, .hamburger{
    padding: 30px;
  }
}
